<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VehicleSwiftUIView</key>
	<string>VehicleSwiftUIView</string>
	<key>PickerView</key>
	<string>PickerView</string>
	<key>New item - 45</key>
	<string></string>
	<key>New item - 46</key>
	<string></string>
	<key>New item</key>
	<string></string>
	<key>New item - 44</key>
	<string></string>
	<key>New item - 2</key>
	<string></string>
	<key>New item - 3</key>
	<string></string>
	<key>New item - 4</key>
	<string></string>
	<key>New item - 5</key>
	<string></string>
	<key>New item - 6</key>
	<string></string>
	<key>New item - 7</key>
	<string></string>
	<key>New item - 8</key>
	<string></string>
	<key>New item - 9</key>
	<string></string>
	<key>New item - 10</key>
	<string></string>
	<key>New item - 11</key>
	<string></string>
	<key>New item - 12</key>
	<string></string>
	<key>New item - 13</key>
	<string></string>
	<key>New item - 14</key>
	<string></string>
	<key>New item - 15</key>
	<string></string>
	<key>New item - 16</key>
	<string></string>
	<key>New item - 17</key>
	<string></string>
	<key>New item - 18</key>
	<string></string>
	<key>New item - 19</key>
	<string></string>
	<key>New item - 20</key>
	<string></string>
	<key>New item - 21</key>
	<string></string>
	<key>New item - 22</key>
	<string></string>
	<key>New item - 23</key>
	<string></string>
	<key>New item - 24</key>
	<string></string>
	<key>New item - 25</key>
	<string></string>
	<key>New item - 26</key>
	<string></string>
	<key>New item - 27</key>
	<string></string>
	<key>New item - 28</key>
	<string></string>
	<key>New item - 29</key>
	<string></string>
	<key>New item - 30</key>
	<string></string>
	<key>New item - 31</key>
	<string></string>
	<key>New item - 32</key>
	<string></string>
	<key>New item - 33</key>
	<string></string>
	<key>New item - 34</key>
	<string></string>
	<key>New item - 35</key>
	<string></string>
	<key>New item - 36</key>
	<string></string>
	<key>New item - 37</key>
	<string></string>
	<key>New item - 38</key>
	<string></string>
	<key>New item - 39</key>
	<string></string>
	<key>New item - 40</key>
	<string></string>
	<key>New item - 41</key>
	<string></string>
	<key>New item - 42</key>
	<string></string>
	<key>New item - 43</key>
	<string></string>
</dict>
</plist>
